@{
    Layout = null;
}
<h3>Нетворкинг</h3>
<div class="col-md-12">
    <div class="col-md-12">
        <iframe width="80%" height="100%" frameborder="0" src="/online/Games/Rooms"></iframe>
    </div>
    <div class="col-md-12">
        <div class="col-md-8 col-xs-8 col-sm-8">
            <iframe width="100%" height="100%" frameborder="1" src="/online/Games/Room"></iframe>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4" style="border:2px">
            <p>Поле для чата</p>
        </div>
    </div>
</div>