@{
    Layout = null;
}
<h3>Нетворкинг</h3>
<div class="col-md-12">
    <div class="col-md-12">
        <iframe src="/online/Games/Rooms?gid="@ViewBag.gid></iframe>
    </div>
    <div class="col-md-12">
        <div class="col-md-10 col-xs-10 col-sm-10">
            <div class="sizer">
                <iframe src="/online/Games/Room?gid="@ViewBag.gid></iframe>
            </div>
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2">
            <p>Поле для чата</p>
        </div>
    </div>
</div>

<style>
    .sizer {
        position: relative;
        width: 100%;
        padding-top: 75%;
        border: 2px;
    }

        .sizer iframe {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
        } 
</style>