
@{
    ViewBag.Title = "GameNotFound";
}



    <div class="col-md-10 col-sm-11 col-xs-12">
        <h2>Игра не найдена</h2>
        <br />
        <p>Проверьте корректность ввода кода или уточните код у ведущего игры.</p>
        <br />
        @Html.ActionLink("Назад", "ConnectToGame", "Games", null, new { @class = "btn btn-default btn-block" })
        <hr />
    </div>

