@model NetApp.Models.RegisterViewModel

@{
    ViewBag.Title = "Pixi";
}

@Scripts.Render("~/scripts/src/pixijs-legacy/node_modules/pixi.js-legacy/dist/pixi-legacy.js")

<div id="pixiCanvas" class="col-md-4">
   <!--<iframe src="../Views/Games/pixiCanvas.cshtml"></iframe>-->
    @Scripts.Render("~/scripts/src/pixi/simple.js")
</div>