@model NetApp.Models.RegisterViewModel

@{
    ViewBag.Title = "Pixi";
}

@Scripts.Render("~/scripts/src/pixijs-legacy/node_modules/pixi.js-legacy/dist/pixi-legacy.js")

<div class="row">
<div id="pixiCanvas" class="col-md-4">
   <iframe src="/Games/pixiCanvas"></iframe>
    <!--Scripts.Render("~/scripts/src/pixi/simple.js")-->
</div>
</div>