
@{
    ViewBag.Title = "Проекты не найдены";
}

<h2 class="text-primary">У вас нет ни одного проекта</h2>
<hr />
<h4 class="text-secondary">Для участия в игре нужен хотя бы один проект. Создайте его прямо сейчас!</h4>
<br />
<a href="/Projects/Create" class="btn btn-lg btn-primary btn-block">Создать проект</a>

