@{
    Layout = null;
}

@Scripts.Render("~/scripts/src/pixijs-legacy/node_modules/pixi.js-legacy/dist/pixi-legacy.js")


    <div id="roomDiv"></div>
    <input type="hidden" id="colRoom" value="3">

<script src="../scripts/pixi/room.js"></script>
