@{
    Layout = null;
}


<!--link href="/Content/bootstrap.css" rel="stylesheet"-->

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/src/pixijs-legacy/node_modules/pixi.js-legacy/dist/pixi-legacy.js")

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<body>
    <script src="../scripts/src/pixi/simple.js"></script>
</body>
