@{
    Layout = null;
}

@Scripts.Render("~/scripts/src/pixijs-legacy/node_modules/pixi.js-legacy/dist/pixi-legacy.js")

<div id="canvasCreateNeedResource"></div>
<script src="../scripts/pixi/showNeedResources.js"></script>
