@{
    Layout = null;
}


<!--link href="/Content/bootstrap.css" rel="stylesheet"-->

<!--Scripts.Render("~/bundles/jquery")-->
@Scripts.Render("~/scripts/src/pixijs-legacy/node_modules/pixi.js-legacy/dist/pixi-legacy.js")

<div id="canvasCreateResource"></div>
    <script src="../scripts/pixi/showResources.js"></script>
