@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <p>Ресурс:</p><input type="text" id="nameResourse">
        <div id="canvasCreateResource">
        </div>
    </div>
</div>
<script src="~/bundles/jquery"></script>
<script src="~/scripts/src/pixijs-legacy/node_modules/pixi.js-legacy/dist/pixi-legacy.js"></script>
<script src='~/Scripts/pixi/createResourse.js'></script>

