@model IEnumerable<NetApp.Models.Project>

@Html.AntiForgeryToken()
<div id="searchresults">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>
