<div class="col-md-6">
    <h2>Мне необходимо:</h2>
    <iframe width="100%" height="50%" frameborder="no" src="/Projects/CreateResource"></iframe>
</div>
<div class="col-md-6">
    <h2>Могу поделиться:</h2>
    <iframe width="100%" height="50%" frameborder="no" src="/Projects/CreateResource"></iframe>
</div>
